extends layout

block content
  h1= title
  p Welcome to #{title}

  form(name="formulario", action="/subirFoto", method="post", enctype='multipart/form-data')
    input(type="file",name="upload")
    input(type="submit",value="Enviar")